/*
 * Globals
 */

.about {
  padding-top: 105px;
  background-color: #888;
  display: inline-block;
}
.about div, .algorithm div, .appMap div {
  background-color: #888;
}
.about p, .about h1, .about h2, .about h3, .about h4, .about h5, .about h6, .about ul, .about li {
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
.algorithm {
  float: right;
}
.algorithm p, .algorithm h1, .algorithm h2, .algorithm h3, .algorithm h4, .algorithm h5, .algorithm h6, .algorithm ul, .algorithm li {   
  color: white;
  padding-left: 20px;
  padding-right: 20px; 
}
.cover-heading {
  padding-top: 65px;
}
.personas {
  display: inline-block;
}
.personas div, .visuals div {
  background-color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
}
.personas p, .personas h1, .personas h2, .personas h3, .personas h4, .personas h5, .personas h6, .personas ul, .personas li {
  color: black;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
}
.visuals p, .visuals h1, .visuals h2, .visuals h3, .visuals h4, .visuals h5, .visuals h6, .visuals ul, .visuals li {   
  color: black;
  padding-left: 20px;
  padding-right: 20px; 
}
.visuals {
  padding-top: 145px;
  float: right;
}
.table {
  max-width: 80%;
/*  margin-left: 3%;*/
}
.appMap {
  float: none;
}
.appMap p, .appMap h1, .appMap h2, .appMap h3, .appMap h4, .appMap h5, .appMap h6, .appMap ul, .appMap li {   
  color: white;
  padding: 65px 20px 40px 20px;
}
/* Links */

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #fff;
}
body {
/*  color: #fff;*/
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}
.navbar-collapse.in {
    overflow-y: visible;
}
.nav li {
  display: inline-block;
}
@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}
.pink {
  color: pink;
}
.blue {
  color: blue;
}
.negative {
  color: red;
}

/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}
