/*
CSS for the Index page
*/
a:hover {
	text-decoration: none;
}
#size-warning {
	visibility: hidden;
	position: fixed;
	top: -100px;
	font-family: 'Abril Fatface';
}
.full-image img {
	width: 100%;
}
.jumbotron {
	width: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
}
.side-bar {
	position: fixed;
	top: 0%;
	left: 75%;
}
.side-bar ul {
	list-style-type: none;
}
#portrait {
	position: relative;
	float: left;

}
#my-story p {
	position: relative;
	float: right;
	font-family: 'Abril Fatface';
}
#first-bar {
	background-color: #333;
	height: 670px;
}
#second-bar {
	background-color: #CD853F;
	height: 900px;
}
#third-bar {
	background-color: #FFDEAD;
	height: 600px;

}
#first-bar p, #first-bar h1, #first-bar h2, #first-bar h3, #first-bar h4 {
	color: #d34040;
}
#second-bar p, #second-bar h1, #second-bar h2, #second-bar h3, #second-bar h4 {
	color: black;
}
#third-bar p, #third-bar h1, #third-bar h2, #third-bar h3, #third-bar h4 {
	color: #483d8b;
}
#first-bar a {
	color: #5bc0de;
}
.side-bar ul, .side-bar i {
	color: black;
}
.center {
	text-align: center;
}
h1, #portrait h3 {
	font-family: 'Cinzel Decorative';
}
h2, h3, h4 {
	font-family: 'Abril Fatface';
}
p, a, button {
	font-family: 'Ubuntu', sans-serif;
}
.modal-content {
	position: relative;
}
.btn-info {
	background-color: #483d8b;
}
.panel-title a {
	font-family: 'Cinzel Decorative', sans-serif;
	font-size: 20px;
	color: #333;
	text-align: center;
	text-decoration: none;
}
.panel-title a:hover, .panel-title a:active {
	text-decoration: none;
}
#navbar {
	max-height: 800px;
}
.navbar-toggle {
	position: fixed;
	left: 5%;
	top: 1%;
	padding: 0px;
	margin: 0px;
	opacity: 1;
}
/*
CSS for the portfolio pages
*/
.portfolio-jumbotron {
	height: 900px;
	width: 100%;
}
.portfolio-jumbotron h3 {
	line-height: 1.2em;
	font-family: 'Ubuntu', sans-serif;
}
#first-picture-bar, #third-picture-bar, #fifth-picture-bar {
	background-color: #CD853F;
}
#second-picture-bar, #fourth-picture-bar {
	background-color: #FFDEAD;
}
#first-picture-bar img, #third-picture-bar img, #fifth-picture-bar img {
	position: relative;
	float: left;
	padding-top: 70px;
}
#second-picture-bar img, #fourth-picture-bar img {
	position: relative;
	float: right;
	padding-top: 70px;
}
.tall {
	height: 1400px;
} 
.left {
	position: relative;
	float: left;
	padding-top: 70px;
}
.left-thumb {
	position: relative;
	float: left;
	padding-right: 15px;
}
.right {
	position: relative;
	float: right;
	padding-top: 70px;
}
.right-thumb {
	position: relative;
	float: right;
	padding-left: 15px;
}
.portfolio-side-bar {
	position: fixed;
	top: 10%;
	left: 85%;
}
.portfolio-side-bar ul, .portfolio-side-bar i {
	color: #483d8b;
}
.portfolio-side-bar ul {
	list-style-type: none;
}
.portfolio-title {
	font-size: 40px;
	position: fixed;
	top: 5%;
	left: 2%;
	font-weight: 700;
	text-align: center;
}
/*
CSS for Scaling
*/
@media (max-width: 374px) {
	#first-bar {
		height: 500px;
	}
	#second-bar {
		height: 2000px;
	}
	#third-bar {
		height: 700px;
	}
	.tall {
		height: 950px;
	}
	.portfolio-title {
		visibility: hidden;
	}
}
@media (min-width: 375px) and (max-width: 600px) {
	#first-bar {
		height: 650px;
	}
	#second-bar {
		height: 2200px;
	}
	#third-bar {
		height: 650px;
	}
	.portfolio-title {
		visibility: hidden;
	}
	.portfolio-jumbotron h3 {
		padding-top: 15px;
	}
	.portfolio-jumbotron {
		height: 850px;
	}
	.portfolio-title {
		visibility: hidden;
	}
	.tall {
		height: 1100px;
	}
}
@media (min-width: 601px) and (max-width: 767px) {
	#first-bar {
		height: 800px;
	}
	#second-bar {
		height: 3000px;
	}
	#third-bar {
		height: 550px;
	}
	.portfolio-side-bar {
		top: 3%;
		left: 80%;
	}
	.portfolio-jumbotron {
		height: 1100px;
	}
	.portfolio-title {
		visibility: hidden;
	}
	.portfolio-jumbotron img {
		padding-left: 0px;
		padding-right: 0px;
	}
	.portfolio-jumbotron .container {
		padding-left: 0px;
		padding-right: 0px;
	}
	.tall {
		height: 1400px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#first-bar {
		height: 800px;
	}
	#second-bar {
		height: 3000px;
	}
	#third-bar {
		height: 600px;
	}
	#white-research-modal .modal-content {
		position: fixed;
		left: -25%;
	}
	.portfolio-jumbotron {
		height: 1000px;
	}
	.portfolio-title {
		visibility: hidden;
	}
	.tall {
		height: 1400px;
	}
}
@media (min-width: 992px) and (max-width: 1311px) {
	#first-bar {
		height: 600px;
	}
	#second-bar {
		height: 950px;
	}
	#third-bar {
		height: 575px;
	}
	#my-story {
		clear: bottom;
	}
	#second-bar .col-md-4 {
		clear: bottom;
	}
	.portfolio-jumbotron h3 {
		font-size: 20px;
	}
	.portfolio-jumbotron {
		height: 650px;
	}
	.tall {
		height: 900px;
	}
	.portfolio-title {
		font-size: 22px;
		left: 84%;
		top: -10px;
		opacity: .6;
		z-index: +3;
		text-align: left;
	}
	#second-bar p {
		font-size: 17px;
	}
}
@media (min-width: 1312px) and (max-width: 1637px) {
	#first-bar {
		height: 600px;
	}
	#second-bar {
		height: 1000px;
	}
	#third-bar {
		height: 600px;
	}
	.portfolio-title {
		font-size: 22px;
	}
	.portfolio-jumbotron {
		height: 800px;
	}
		.tall {
		height: 1200px;
	}
}
@media (min-width: 1637px) {
	.navbar-toggle {
		display: none;
	}
	.navbar-collapse, .collapse {
		display: none;
	}
}