/*
 * Globals
 */

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

/*
 * Masthead for nav
 */
.title-bar, .title-bar h1 {
  text-align: center;
  font-family: 'Kaushan script', cursive;
  padding-top: 10px;
}
.blog-masthead ul {
  margin: 0px;
}
.blog-masthead {
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav {
  text-align: center;
}
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  font-family: 'Cinzel Decorative', cursive;
}
.blog-nav-item a {
  color: #cdddeb;
  font-size: 24px;
}
.blog-nav-item a:hover,
.blog-nav-item a:focus {
  color: #fff;
  text-decoration: none;
}
.dropdown-menu {
  background-color: #428bca;
}
.dropdown-menu li a {  
  color: #cdddeb;
  font-size: 20px;
  font-family: 'Cinzel Decorative', cursive;  
}
.dropdown-menu li a:hover, .dropdown-menu li a:focus {
  text-decoration: none;
}
/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}


/*
 * Blog name and description
 */
.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 60px;
  font-weight: normal;
  font-family: 'Kaushan script', cursive;
}
.blog-description {
  font-size: 40px;
  margin-bottom: 20px;
  font-family: 'Kaushan script', cursive;
}
#background-image {
  z-index: -2;
  position: fixed;
  top: 2px;
  left: -100px;
}
#back-er-ground {
  width: 100%;
  height: 100%;
  z-index: -4;
  position: fixed;
}
.container {
  z-index: +10;
}
/*
 * Main column and sidebar layout
 */
a {
  color: #333;
}
.blog-main {
  font-size: 18px;
  line-height: 1.5;
}
.blog-post-title, .sub-blog h3 {
  font-family: 'Kaushan script', cursive;
}
/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module h2 {
  font-family: 'Cinzel Decorative', cursive;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}
.advert img {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 90%;
}
.list-unstyled {
  font-size: 20px;
  line-height: 1.7;
  font-family: 'Kaushan script', cursive;
}
/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
 * Blog posts
 */
.container a {
  color: #428bca;
}
.blog-post {
  margin-bottom: 60px;
}
.portrait {
  border-radius: 150px;
  width: 95%;
}
.blog-post p {
  line-height: 1.75;
  color: #333;
  font-family: 'Quintessential', cursive;
}
.blog-post-title {
  margin-bottom: 20px;
  font-size: 40px;
  font-family: 'Quintessential', cursive;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}
.blog-post h3 {
  font-family: 'Kaushan script', cursive;
}
td, th {
  text-align: center;
  font-family: 'Quintessential', cursive;
}


/*
 * Footer
 */
.top-nav i {
  float: right;
  color: black;
}
.home-nav i {
  color: black;
  float: left;
}
#tickerOne {
  left: 0px;
}
#tickerTwo {
  left: 1290px;
}
#tickerThree {
  left: 2249px;
}
#tickerFour {
  left: 3350px
}
#tickerFive {
  left: 4862px;
}
#ticker {
  background-color: #FF5930;
  height: 75px;
  font-size: 45px;
  color: black;
  position: fixed;
  top: 93%;
  left: 0px;
  width: 100%;
}
#ticker p {
  display: inline;
  position: fixed;
  padding-left: 40px;
  padding-right: 40px;
  font-family: 'Abril Fatface', cursive;
}
.blog-footer p {
  list-style-type: none;
  display: inline-block;
  text-align: left;
}
.blog-footer a {
  color: #cdddeb;
  padding-left: 80px;
  padding-right: 80px;
  font-size: 20px;
  font-family: 'Cinzel Decorative', cursive;
}
.blog-footer {
  color: #cdddeb;
  padding: 40px 0;
  height: 150px;
  text-align: center;
  background-color: #428bca;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}