/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

#navbar li {
	text-align: right;
}

.return-top a {
	position: fixed;
}

.portrait p, .portrait-icon p {
	text-align: center;
}

.portrait img, .portrait-icon img {
	border-radius: 150px;
	margin: 50px;
}

.thumbnail {
	display: inline-block;
	padding: 0px;
}